.modal-header
  %h1
    = task.new_record? ? 'Input Task' : "Edit #{task.title}"
= simple_form_for task, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.input :title
    = f.input :note
    = f.input :completed, as: :string, input_html: { class: 'datepicker', value: task.completed.present? ? localize(task.completed, format: '%d/%m/%Y') : nil }
    = f.select :prioritas, options_for_select([['Major', 'Major'], ['Minor', 'Minor']], params[:prioritas])
    = f.hidden_field :status, value: 'belum selesai'
  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary'